@import "./../variables.scss";

[gutter] [gutter-toolbar] { justify-content: space-between !important; }

/// DIVIDER
$accent-on: $accent-location;
$accent-off: mix($accent-on,#333,10%);
.darkform {
  .divider {
    height:2px;
    background: $accent-off;
    transition: background-color .250s;
    z-index: 1;
  }
  .divider.active {
    background: $accent-on;
    box-shadow: 0 0 4px $accent-on;
  }
}
