<div class="darkform main">
  <!-- TABS -->
  <div class="tabs" row>
    <div *ngFor="let tab of TABS"
          (click)="currentTab=tab"
          [class.current]="currentTab==tab"
          class="tab">{{tab}}</div>
  </div>
  <div class="content-container">

    <!-- LOCATIONS LIST -->
    <ng-container *ngIf="currentTab=='locations'">
      <locations-list></locations-list>
    </ng-container>

    <!-- MAP -->
    <ng-container *ngIf="currentTab=='map'">
      <map-pane style="height:100%"></map-pane>
    </ng-container>

    <!-- INI -->
    <ng-container *ngIf="currentTab=='ini'">
      <div class="item" style="height:4px; padding:0"></div>
      <div class="">
        <json-ace-editor class="ace" [(data)]="gamedata.data.ini">
        </json-ace-editor>
      </div>
      <div class="item">
        <pre>

    Schema:
      spawn_node: uid
        </pre>
      </div>
    </ng-container>

    <!-- SNIPPETS -->
    <ng-container *ngIf="currentTab=='snippets'">
      <div class="item" style="height:4px; padding:0"></div>
      <div class="">
        <json-ace-editor class="ace" [(data)]="gamedata.data.journal.snippets">
        </json-ace-editor>
      </div>
      <div class="item">
        <pre>

    Schema:
      []:
        key: string
        text: text
        </pre>
      </div>
    </ng-container>

    <!-- ALIASES -->
    <ng-container *ngIf="currentTab=='aliases'">
      <div class="item" style="height:4px; padding:0"></div>
      <div class="">
        <json-ace-editor class="ace" [(data)]="gamedata.data.journal.aliases">
        </json-ace-editor>
      </div>
      <div class="item">
        <pre>

    Schema:
      []:
        entity: uid
        entity_type: node|area|character|item
        condition: code
        text: text
        </pre>
      </div>
    </ng-container>

    <!-- KOD -->
    <ng-container *ngIf="currentTab=='kod'">
      <div class="item">
        <ng-container *ngFor="let key of ['goto','convo','anywhere','bullshit']; let i = index">
          <app-collapsable [label]="key" [expanded]="key==='anywhere'">
            <ace-editor class="ace"
                mode="typescript"
                theme="tomorrow_night_blue"
                [options]="options_kod"
                [(text)]="gamedata.data.kod[key]"
                style="min-height:30vh">
            </ace-editor>
          </app-collapsable>
        </ng-container>
      </div>
    </ng-container>

  </div>
</div>
