@import "./../variables.scss";

.main
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width:100%;
  height:100%;
}

.content-container
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1;
  width:100%;
  height:100%;
}



/// LOCATIONS LIST
flex-row.item {
  width:100%;
  padding: 4px 8px !important;
}
[indent] {
  width:10px;
  background:#0002;
  border-right:1px solid #0008;
}
.cell-uid, .cell-slug {
  user-select: all;
}
.cell-uid {
  flex: 0 1 80px;
}
.cell-slug {
  flex: 1 1 120px;
}
.item:hover {
  color:#EEE;
}
///

/// DIVIDER
$accent-on: $accent-generic;
$accent-off: mix($accent-on,#333,10%);
.darkform {
  .divider {
    height:2px;
    background: $accent-off;
    transition: background-color .250s;
    z-index: 1;
  }
  .divider.active {
    background: $accent-on;
    box-shadow: 0 0 4px $accent-on;
  }
}

@keyframes fadein {0%{opacity:0} 30%{opacity:0}}
ace-editor {
  border: #000A 1px solid;
  animation-name: fadein;
  animation-duration: 400ms;
}
