<div class="darkform">
  <div class="" row>
    <div *ngFor="let tab of TABS"
          (click)="currentTab=tab"
          [class.current]="currentTab==tab"
          class="tab">{{tab}}</div>
  </div>

  <!-- LOCATIONS LIST -->
  <div *ngIf="currentTab=='locations'">
    <div class="item">
      <div row>
        <div cell style="flex: 3">
          <label>search</label>
          <div><input type="text" [(ngModel)]="filterLocations"></div>
          <div space></div>
          <label>Location nodes and subnodes in this world</label>
        </div>
      </div>
    </div>
    <div class="divider" [class.active]="!!filterLocations"></div>
    <div class="items-list">
      <ng-container *ngFor="let loc of gamedata.data.world.nodes">
      <ng-container *ngIf="!filterLocations||loc.slug.includes(filterLocations)">
        <div row class="item">
          <div class="cell-uid">{{loc.uid}}</div>
          <div class="cell-slug">{{loc.slug}}</div>
        </div>
        <ng-container *ngFor="let sub of gamedata.data.world.subnodes">
        <ng-container *ngIf="sub.parent==loc.uid||sub.parent==loc.slug">
          <div row>
            <div indent></div>
            <div row class="item" style="flex:1 1">
              <div class="cell-uid">{{sub.uid}}</div>
              <div class="cell-slug">{{sub.slug}}</div>
            </div>
          </div>
        </ng-container>
        </ng-container>
      </ng-container>
      </ng-container>
    </div>
  </div>

  <!-- SNIPPETS -->
  <div *ngIf="currentTab=='snippets'">
    <div class="item" style="height:4px; padding:0"></div>
    <div class="">
      <ace-editor id="ace"
          mode="json"
          theme="tomorrow_night_eighties"
          [options]="options"
          [(text)]="json_snippets"
            ></ace-editor>
    </div>
    <div class="item">
      <pre>

  Schema:
  []:
    key: string
    text: text
      </pre>
    </div>
  </div>

  <!-- INI -->
  <div *ngIf="currentTab=='ini'">
    <div class="item" style="height:4px; padding:0"></div>
    <div class="">
      <ace-editor id="ace"
          mode="json"
          theme="tomorrow_night_eighties"
          [options]="options"
          [(text)]="json_ini"
            ></ace-editor>
    </div>
    <div class="item">
      <pre>

  Schema:
    spawn_node: uid
      </pre>
    </div>
  </div>

  <!-- ALIASES -->
  <div *ngIf="currentTab=='aliases'">
    <div class="item" style="height:4px; padding:0"></div>
    <div class="">
      <ace-editor id="ace"
          mode="json"
          theme="tomorrow_night_eighties"
          [options]="options"
          [(text)]="json_aliases"
            ></ace-editor>
    </div>
    <div class="item">
      <pre>

  Schema:
    []:
      entity: uid
      entity_type: node|area|character|item
      condition: code
      text: text
      </pre>
    </div>
  </div>

  <!-- KOD -->
  <div class="item" *ngIf="currentTab=='kod'">
    <ng-container *ngFor="let key of ['goto','convo','anywhere','bullshit']; let i = index">
      <app-collapsable [label]="key" [expanded]="key==='anywhere'">
        <ace-editor id="ace"
            mode="typescript"
            theme="tomorrow_night_blue"
            [options]="options_kod"
            [(text)]="gamedata.data.kod[key]"
            style="min-height:30vh">
        </ace-editor>
      </app-collapsable>
    </ng-container>
  </div>

  <!-- CHEATNOTES -->
  <div class="item"  *ngIf="currentTab=='cheatnotes'">
      <pre>

  There are currently no cheat-notes.
  Please try again later..

  There are currently no cheat-notes.
  Please try again later..

  There are currently no cheat-notes.
  Please try again later..

  There are currently no cheat-notes.
  Please try again later..

  There are currently no cheat-notes.
  Please try again later..
      </pre>
  </div>

</div>
