<div id="container" focusable="true">
  <svg id="lesvg" #lesvg mousewheel
        (wheel)="mousewheel($event)"
        (mousedown)="mousedown($event);"
        (mouseup)="mouseup($event)"
        (mousemove)="mousemove($event)"
        (contextmenu)="contextmenu($event)"
        (keydown)="onkey($event)">

    <defs>
      <filter id="glow" x="-100%" y="-100%" width="300%" height="300%">
          <feGaussianBlur stdDeviation="4" result="coloredBlur"/>
          <feMerge>
              <feMergeNode in="coloredBlur"/>
              <feMergeNode in="SourceGraphic"/>
          </feMerge>
      </filter>
    </defs>

    <ng-container>
      <line
        [attr.x1]="globalizeViewX(-4096)"
        [attr.y1]="globalizeViewY(0)"
        [attr.x2]="globalizeViewX(4096)"
        [attr.y2]="globalizeViewY(0)"
        class="axis"/>
      <line
        [attr.x1]="globalizeViewX(0)"
        [attr.y1]="globalizeViewY(-4096)"
        [attr.x2]="globalizeViewX(0)"
        [attr.y2]="globalizeViewY(4096)"
        class="axis"/>
    </ng-container>

    <ng-container *ngIf="linking">
      <line
        [attr.x1]="getViewX(linking)"
        [attr.y1]="getViewY(linking)"
        [attr.x2]="mouseX"
        [attr.y2]="mouseY"
        class="link tobe"/>
    </ng-container>

    <ng-container *ngFor="let link of w.links; let i = index">
      <line
        (mousedown)="click_link($event,i)"
        [attr.data-index]="i"
        [attr.x1]="getViewX(link.to)+5"
        [attr.y1]="getViewY(link.to)+random(i,5)"
        [attr.x2]="getViewX(link.from)-5"
        [attr.y2]="getViewY(link.from)-random(i,5)"
        [class.focused]="focused&&(link.to==focused.uid||link.from==focused.uid)"
        class="link smooth"/>
    </ng-container>
    <ng-container *ngFor="let node of w.subnodes; let i = index">
      <line
        [attr.x1]="getViewX(node)"
        [attr.y1]="getViewY(node)"
        [attr.x2]="getViewX(node.parent)"
        [attr.y2]="getViewY(node.parent)"
        [class.focused]="focused&&(node.parent==focused.uid||node.uid==focused.uid)"
        class="link smooth"/>
    </ng-container>
    <ng-container *ngFor="let node of w.nodes; let i = index">
      <circle
        (click)="click_node($event,node,false)"
        (mouseenter)="focused=node"
        (mouseleave)="focused=focused==node?null:focused"
        (mousedown)="mousedown_node($event,node,false)"
        (mouseup)="mouseup_node($event,node,false)"
        [attr.r]="16"
        [attr.cx]="getViewX(node)"
        [attr.cy]="getViewY(node)"
        [class.selected]="selected==node"
        class="node smooth"/>
    </ng-container>
    <ng-container *ngFor="let node of w.subnodes; let i = index">
      <circle
        (click)="click_node($event,node,true)"
        (mouseup)="mouseup_node($event,node,true)"
        (mousedown)="mousedown_node($event,node,true)"
        (mouseenter)="focused=node"
        (mouseleave)="focused=focused==node?null:focused"
        [attr.data-index]="i"
        [attr.r]="8"
        [attr.cx]="getViewX(node)"
        [attr.cy]="getViewY(node)"
        [class.selected]="selected==node"
        class="node subnode smooth"/>
    </ng-container>
    <ng-container *ngFor="let node of w.nodes; let i = index">
      <text
        (mousedown)="mousedown_node($event,node,false)"
        [attr.x]="getViewX(node)"
        [attr.y]="getViewY(node)+26"
        [class.focused]="focused===node"
        [class.faded]="focused&&focused!=node"
        class="label smooth">{{node.slug}}</text>
    </ng-container>
    <ng-container *ngFor="let node of w.subnodes; let i = index">
      <text
        (mousedown)="mousedown_node($event,node,true)"
        [attr.x]="getViewX(node)"
        [attr.y]="getViewY(node)+18"
        [class.focused]="focused===node"
        [class.faded]="focused&&focused!=node"
        class="label subnode smooth">{{node.slug}}</text>
    </ng-container>

    <circle id="trash"
            cx="10vh" cy="90vh" r=64
            *ngIf="!linking&&dragging"
            (mouseup)="mouseup_trash($event)"
            >
    </circle>
  </svg>

  <div class="info">
    <div *ngIf="zoom!=1.0">Zoom: {{prettyZoom}}</div>
  </div>
</div>
