#container {
  height:100%;
  width:100%;
  background:#202533;
  box-shadow:inset 0 0 50vh 0px #0006;
  overflow:hidden;
  position:relative;
  transition: background 400ms;
}

#lesvg { height:100%; width:100%; }
#trash { fill:rgba(255,0,0,.05); }
#trash:hover { fill:rgba(255,0,0,.25); stroke:rgba(255,0,0,.1); stroke-width:4 }
.link {
  stroke:rgb(100, 200, 250);
  stroke-width:4;
  stroke-linecap:round;
  opacity: .15;
  transition-duration: 200ms;
  transition-property: stroke, stroke-width, opacity;
}
.link.selected { stroke:rgba(255,225,150,1.0) }
.link:hover { opacity : .5 }
.link.focused { opacity : .4 }
.link.tobe {
  stroke:#c1ebff7c;
  stroke-width:2;
  stroke-linecap:round;
  opacity:1;
}

.label {
	font: bold 10px monospace, sans-serif;
	fill: #FFFC;
	user-select: none;
	text-anchor: middle;
	pointer-events: none;
  transition-duration: 400ms;
  transition-property: color, opacity;
}
.label.subnode { fill: #FFFB; font-weight:100; }
.label.faded { opacity: .1; }
.label.focused { fill: white; opacity:1; }

@keyframes node-become { from { opacity: 0.0; r: 12; } }
.node {
	fill:#3264c8;
	stroke:#47c2ff80;
	stroke-width:3;
  animation-name: node-become;
  animation-timing-function: ease-out;
  animation-duration: 150ms;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: stroke, stroke-width, fill;
}
.node:hover { stroke:#64c8fabf; stroke-width:6; }
.node:active { stroke-width:2; }
.node.selected { fill:#ffe196; stroke:#ffc896bf; }
.node.selected { filter:url(#glow) }

.axis {
  stroke: #FFFFFF19;
  stroke-dasharray: 4px;
}

.info {
  pointer-events: none;
  position:absolute;
  top:0;
  right:0;
  padding:1vh 1vw;
  font-family: monospace;
  opacity:.3;
  color:white;
}
