<style type="scss/text">

#main {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
}

#current-view {
  background: #3f3f3f;
  width:100%;
  display:flex;
  flex-flow: wrap-reverse;
  flex: 1 1;
  align-content: stretch;
  overflow-y: auto;
}

#current-view-container {
  width:100%;
}

#current-view-spinner img {
  transform: rotate(-90deg);
  right: 24px;
  position: absolute;
}
</style>

<div id="main" spellcheck="false" (document:keydown)="onKey($event)">

  <app-sidebar></app-sidebar>

  <div id="current-view">
    <div id="current-view-container">
      <div id="current-view-spinner" *ngIf="!world.hasData"><img src="assets/bars.svg" /></div>
      <router-outlet *ngIf="world.hasData"></router-outlet>
    </div>
  </div>

</div>
