<style type="scss/text">  
.option {
  display:block;
  cursor:pointer;
  color: #578;
  transition: color .150s;
}

.option:hover {
  color: #ABC;
}

.fonted pre {
  font-family: 'Princess Sofia';
  font-family: 'calibri';
  font-size: 20px;
  font-weight: lighter;
}
</style>

<p style="opacity:0.3">
  🕓 {{game.getTime()}}
</p>

<div style="text-align:center">

  <div class="fonted">
    <h1>
        <div style="height:400px; position: relative;" >
          <div style="position: absolute; bottom: 10px; width:100%">
            <pre *ngFor="let entry of game.journal; let i = index" 
                 style="color:#999">{{entry}}</pre>
          </div>
        </div>
    </h1>
  </div>

  <br/><br/><p class="fonted">§</p><br/><br/><br/><br/>
  
  <div>
    <div *ngFor="let option of game.options; let i = index"
       (click)="game.selectOption(i)"
       class="option fonted"
       href="#">
      <h1>
        <pre>— {{option.t}} —</pre>
      </h1>
    </div>
  </div>
    
  <br/><br/><br/>
  <br/><br/><br/>  
  <br/><br/><br/>
  <img alt="Angular Logo" src="{{imgurl}}" style="opacity:.2">

</div> 

<div style="font-size:9px">
  {{debug_log}}
</div>