@import "./variables.scss";

$bev-up: rgba(#FFF,0.125 );
$bev-dn: rgba(#000,0.55);
$inset-background: rgba(#000,0.19);
$inset-border: rgba(#000,0.5);
$accent-off: #464646;
$accent-on: #ffffff;
$super: #00a2ff;

$spacing: 2px;

@mixin inset {
  background: $inset-background;
  border: 1px solid $inset-border;
  padding: 4px 6px;
}
@mixin bevel-top-bottom {
  border-top: 1px solid $bev-up;
  border-bottom: 1px solid $bev-dn;
}
@mixin bevel-left-right {
  border-left: 1px solid $bev-up;
  border-right: 1px solid $bev-dn;
}

[cell] {
  display:block;
  padding: $spacing;
}

.items-list {
  &:after {
    content: "- ⚜ -";
    height:50vh;
    color:#000B;
    padding-top:4px;
    text-align:center;
    display:block
  }

  [li] {
    padding-left:16px !important;
  }
}

.darkform {
  color: #AAA;
  background: #3e3e3e;
  font-family:monospace;
  box-sizing: border-box;
  user-select: none;

  ///

  *:not(ace-editor, ace-editor *) {
    font-size: 10px;
    position:relative;
    box-sizing: border-box;

    ::selection      { background: #6f70c25e; }
    ::-moz-selection { background: #6f70c25e; }
  }
  *:not(ace-editor, ace-editor *) {
    transition-property: opacity, color, background-color, border-color, outline-color;
    transition-duration: 250ms;
  }

  *:disabled { opacity: .25 !important; }
  .selectable, [selectable] { user-select:text; }

  /// <<< ITEM >>>

  .item {
    position:relative;
    padding: $spacing;
    background-color: #FFFFFF06;
    @include bevel-top-bottom;
  }
  .item:not(.not-selectable):hover {
    background: #FFFFFF0B;
  }
  .item:not(.not-selectable).selected {
    background: #FFFFFF13;
  }

  .item .item {
    @include bevel-top-bottom;
    @include bevel-left-right;
  }

  /// INPUTOS

  textarea[class^='field-'] {
    background: none;
    border:none;
    resize: none;
    min-height: calc(100% - 9px);
    overflow: hidden;
  }
  textarea[class^='field-'], input, label {
    font-family:monospace;
    display: block;
    width: 100%;
  }
  textarea[class^='field-'], input, .input {
    @include inset;
    outline: none;
    outline-color: #0000;
    user-select: normal;
    outline: 1px solid #0000;
    color: #AAA;
  }
  textarea[class^='field-']:hover, input:hover, .input:hover {
    color: #BBB;
  }
  textarea[class^='field-']:focus, input:focus, .input:focus {
    outline: 1px solid $super;
    color: #EEE;
    opacity:1;
  }

  label {
    color: #888;
    font-size: .8em;
    font-style: italic;
  }

  .item.selected {
    label { color: #999; }
    .field{
      &-from, &-to, &-location { color: dulltext($accent-location); }
      &-handle { color: dulltext($accent-handle); }
      &-convo { color: dulltext($accent-convo,25%); }
      &-text { color: #EEE; }
      &-code { background: #383e4e; color: #CEF; }
      &-condition { background: #383e4e; color: dulltext($accent-condition,60%); }
    }
  }

  /// BUTTONAS

  button {
    cursor: pointer;
    color: #AAA;
  }
  button:not([clear]):not(.item) {
    display: block;
    height:100%;
    width:100%;
    padding: 8px 4px;
    border: 1px solid #FFF2;
    outline: 1px solid #0007;
    background: #FFFFFF0B;
    &:hover {
      background: #FFF1;
      color: white;
    }
    &:focus {
      border: 1px solid $super;
      color: white;
    }
    &:active {
      border: 1px solid white;
      background: $super;
      color: white;
    }
  }
  button.item {
    display: block;
    width:100%;
    padding: 12px 4px;
    border-left:none;
    border-right:none;
  }
  button[clear] {
    background: none;
    border:none;
    outline:none;
    font-weight: bold;
    opacity:.5;
    transition-property: opacity, color;
    transition-duration: 250ms;
    &:active, &:hover {
      opacity:1;
    }
  }

  /// TABS

  .tab {
    display: inline;
    padding: 4px 12px;
    border: 1px solid #FFF2;
    outline: 1px solid #0008;
    margin:1px 1px 0px 1px;
    background: #FFFFFF0B;
    cursor:pointer;
  }
  .tab:hover {
    background: #FFFFFF0E;
    color: #DDD;
  }
  .tab.current {
    background: #FFFFFF16 !important;
    color: #EEE;
  }

  /// NOTICE
  *.notice {
    @include inset;
    background-color: $accent-off;
    color: $accent-on;
    font-weight: bold;
  }

  /// TOOLBAR
  .toolbar { opacity: 0 }
  *:hover > .toolbar { opacity: 1 }
  /// OTHER CLEAR BUTTONS
  button[clear].delete:hover {
    $color: #F13;
    color:$color;
    text-shadow: 0 0 16px $color;
  }
  button[clear].move:hover {
    $color:rgb(0, 255, 179);
    color:$color;
    text-shadow: 0 0 16px $color;
  }
  button[clear].clone:hover {
    $color:rgb(145, 255, 0);
    color:$color;
    text-shadow: 0 0 16px $color;
  }


  /// UID
  .item {
    .uid {
      position:absolute;
      bottom:3px;
      right:5px;
      opacity:.4;
      user-select: none;
    }
    .uid:hover { opacity:2; }
  }

  /// THAT BIG BUTTON
  .item.spawner {
    padding: 20px;
    text-align: center;
    cursor:pointer;
  }

  /// DIVIDER
  .divider {
    height:2px;
    background: $accent-off;
    transition: background-color .250s;
    z-index: 1;
  }
  .divider.active {
    background: $accent-on;
    box-shadow: 0 0 4px $accent-on;
  }

  ///

  ///

  /// HADNLE THE DIRTIES

  .item .dirty:not(.uid) { outline: 1px solid $accent-dirty; }
  .item .uid.dirty { color: $accent-dirty; font-weight: bold; opacity: 1; }

  ///
  div[space] {
    height:8px;
  }
  .filler {
    height:50vh;
    color:#000B;
    padding-top:4px;
    text-align:center;
  }
}
.darkform {
  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 4px #0008;
    background-color: #0002;
    border: 1px solid #0008;
    cursor: pointer;
  }
  ::-webkit-scrollbar
  {
    width: 8px;
    height: 8px;
    background-color: #0001;
    cursor: pointer;
  }
  ::-webkit-scrollbar-thumb
  {
    background-color: #484848;
    border: 1px solid #222;
    transition: background-color 250ms, box-shadow 250ms;
    cursor: pointer;
  }
  ::-webkit-scrollbar-thumb:hover
  {
    background-color: $super;
    -webkit-box-shadow: 0 0 4px $super;
    box-shadow: 0 0 4px $super;
  }
  ::-webkit-scrollbar-corner {
    background: none;
  }
}


*[tooltip] {
  position: relative;
}
*[tooltip]:hover:before {
  content: attr(tooltip);
  position: absolute;
  white-space: nowrap;
  bottom: 1.7em;
  left: 0px;
  padding: 1px 8px;
  background-color: #333;
  outline: 1px solid #0009;
  color: silver;
  font-weight: 100;
}
