$bev-up: #FFF2;
$bev-dn: #0009;
$inset-background: #0003;
$inset-border: #0007;
$accent-off: #1c484e;
$accent-on: #2fb493;
$super: #00a2ff;

@mixin inset {
  background: $inset-background;
  border: 1px solid $inset-border;
  padding: 4px 6px;
}
@mixin bevel-top-bottom {
  border-top: 1px solid $bev-up;
  border-bottom: 1px solid $bev-dn;
}
@mixin bevel-left-right {
  border-left: 1px solid $bev-up;
  border-right: 1px solid $bev-dn;
}

.flex-row {
  width:100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .cell {
    flex-direction: column;
    flex-grow:1;
  }
}

$pebble-size: 8px;
[pebble] {
  width:$pebble-size;
  height:$pebble-size;
  display: block;
}


.darkform {
  color: #AAA;
  background: #3f3f3f;
  font-family:monospace;
  box-sizing: border-box;
  user-select: none;

  ///

  * {
    font-size: 10px;
    box-sizing: border-box;
    transition-property: opacity, color, background-color, border-color, outline-color;
    transition-duration: 250ms;

    ::selection      { background: #6f70c25e; }
    ::-moz-selection { background: #6f70c25e; }
  }

  *:disabled { opacity: .25 !important; }
  .selectable, [selectable] { user-select:text; }

  /// <<< ITEM >>>

  .item {
    position:relative;
    padding: $pebble-size;
    background-color: #FFFFFF06;
    @include bevel-top-bottom;
  }
  .item:not(.not-selectable):hover {
    background: #FFFFFF0B;
  }
  .item:not(.not-selectable).selected {
    background: #FFFFFF13;
  }

  .item.inner {
    @include bevel-top-bottom;
    @include bevel-left-right;
  }

  /// INPUTOS

  textarea {
    background: none;
    border:none;
    resize: none;
    min-height: calc(100% - 9px);
    overflow: hidden;
  }
  textarea, input, label {
    font-family:monospace;
    display: block;
    width: 100%;
  }
  textarea, input, .input {
    @include inset;
    outline: none;
    outline-color: #0000;
    user-select: normal;
    color: #AAA;
  }
  textarea:hover, input:hover, .input:hover {
    color: #BBB;
  }
  textarea:focus, input:focus, .input:focus {
    outline: 1px solid $super;
    color: #EEE;
  }

  label {
    color: #888;
    font-size: .8em;
    font-style: italic;
  }

  .item.selected {
    label { color: #999; }
    .field-from, .input.field-to { color: #8acdea; }
    .field-condition { color: #ceb3ff; }
    .field-handle { color: #ead38a; }
  }

  /// BUTTONAS

  button {
    cursor: pointer;
    color: #AAA;
  }
  button:not([clear]) {
    display: block;
    height:100%;
    width:100%;
    padding: 14px 4px;
    border: 1px solid #FFF2;
    outline: 1px solid #0007;
    background: #FFFFFF0B;
  }
  button:not([clear]):hover {
    background: #FFF1;
    color: white;
  }
  button:not(.clear):active {
    border: 1px solid white;
    background: $super;
    color: white;
  }
  button[clear] {
    background: none;
    border:none;
    outline:none;
    font-weight: bold;
    opacity:.5;
    transition-property: opacity, color;
    transition-duration: 250ms;
  }
  button[clear]:hover {
    opacity:1;
  }
  /// SWAPPER
  button.swapper {
    position: absolute;
    left: 0px;
    margin-top: -1.6em;
    width: unset;
    height: unset;
    display:block;
    padding: 0 8px;
    opacity:0;
    color: #777;
    text-shadow: 0 0 16px black;
  }
  .item:hover > button.swapper {
    opacity:1;
  }
  button.swapper:hover {
    color: $super;
    text-shadow: 0 0 16px $super;
  }


  /// NOTICE
  *.notice {
    @include inset;
    background-color: $accent-off;
    color: $accent-on;
    font-weight: bold;
  }

  /// TOOLBAR
  .toolbar { opacity: 0 }
  *:hover > .toolbar { opacity: 1 }
  /// OTHER CLEAR BUTTONS
  button[clear].delete:hover {
    $color: #F13;
    color:$color;
    text-shadow: 0 0 16px $color;
  }
  button[clear].move:hover {
    $color:rgb(0, 255, 179);
    color:$color;
    text-shadow: 0 0 16px $color;
  }
  button[clear].clone:hover {
    $color:rgb(145, 255, 0);
    color:$color;
    text-shadow: 0 0 16px $color;
  }


  /// UID
  .item {
    .uid {
      position:absolute;
      bottom:3px;
      right:5px;
      opacity:.4;
      user-select: none;
    }
    .uid:hover { opacity:2; }
  }

  /// THAT BIG BUTTON
  .item.spawner {
    padding: 20px;
    text-align: center;
  }

  /// DIVIDER
  .divider {
    height:2px;
    background: $accent-off;
    transition: background-color .250s;
    z-index: 1;
  }
  .divider.active {
    background: $accent-on;
    box-shadow: 0 0 4px $accent-on;
  }

  ///

  ///

  /// HADNLE THE DIRTIES

  .dirty:not(.uid) { outline: 1px solid rgb(253, 173, 0); }
  .uid.dirty { color: rgb(253, 173, 0); font-weight: bold; opacity: 1; }

  ///
  div[space] {
    height:8px;
  }
  .filler {
    height:50vh;
    color:#000B;
    padding-top:4px;
    text-align:center;
  }
}
.darkform {
  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 4px #0008;
    background-color: #0002;
    border: 1px solid #0008;
    cursor: pointer;
  }
  ::-webkit-scrollbar
  {
    width: 8px;
    background-color: #0001;
    cursor: pointer;
  }
  ::-webkit-scrollbar-thumb
  {
    background-color: #484848;
    border: 1px solid #222;
    transition: background-color 250ms, box-shadow 250ms;
    cursor: pointer;
  }
  ::-webkit-scrollbar-thumb:hover
  {
    background-color: $super;
    -webkit-box-shadow: 0 0 4px $super;
    box-shadow: 0 0 4px $super;
  }
}


*[tooltip] {
  position: relative;
}
*[tooltip]:hover:before {
  content: attr(tooltip);
  position: absolute;
  white-space: nowrap;
  bottom: 1.7em;
  left: 0px;
  padding: 1px 8px;
  background-color: #333;
  outline: 1px solid #0009;
  color: silver;
  font-weight: 100;
}
