



@function dulltext($color,$amount:50%){
  @return mix($color,#CCC,$amount)
}



$accent-pink: #f0c0e4;
$accent-generic: #00a2ff;

$accent-handle: #ffd448;
$accent-condition: #b085ff;
$accent-location: #5fe2c1;
$accent-convo: #a5e73a;

$accent-dirty: #fdad00

