<style type="scss/text">
#datagrid-toolbar {
	user-select: none;
	position: fixed;
	bottom: 1.25vw;
	right:  1.25vw;
	text-align: right;
}
#datagrid-toolbar a { opacity: 0.4; }
#datagrid-toolbar a:hover { opacity: 1.0; }
</style>

<div class="container">

  	<router-outlet *ngIf="world.loaded"></router-outlet>

    <div id="datagrid-toolbar">
	    <ng-container *ngFor="let pg of pages">
	      <a routerLink="{{pg}}" routerLinkActive="active">{{pg}}</a>
	      <br/>
	     </ng-container>
    </div>

</div>
