<style type="scss/text">
#lesvg { height:99.5vh; width:100%; }
#trash { fill:rgba(255,0,0,.05); }
#trash:hover { fill:rgba(255,0,0,.25); stroke:rgba(255,0,0,.1); stroke-width:4 }
.node { stroke:rgba(100,200,250,0.5); stroke-width:4; fill:rgba(50,100,200,1.0) }
.link { stroke:rgba(100,200,250,0.25); stroke-width:16 }
.link.tobe { stroke:rgba(0,0,0,0.125); stroke-width:8 }
.label { font: bold 10px monospace, sans-serif; color: grey; user-select: none;  }
.node:hover { opacity : .9 }
.link:hover { opacity : .7 }
</style>

<svg id="lesvg" #lesvg
			(mouseup)="mouseup($event)"
			(mousemove)="mousemove($event)"
			(contextmenu)="contextmenu($event)">
	<ng-container *ngIf="linking&&draggy">
		<line
			[attr.x1]="getViewX(draggy)"
			[attr.y1]="getViewY(draggy)"
			[attr.x2]="mouseX"
			[attr.y2]="mouseY"
			class="link tobe"/>
	</ng-container>
	<ng-container *ngFor="let link of w.w.node_links; let i = index">
		<line
			[attr.data-index]="i"
			[attr.x1]="getViewX(link.to)+4"
			[attr.y1]="getViewY(link.to)+random(i,8)"
			[attr.x2]="getViewX(link.from)-4"
			[attr.y2]="getViewY(link.from)-random(i,8)"
			(mouseup)="mouseup_link($event)"
			class="link"/>
	</ng-container>
	<ng-container *ngFor="let node of w.w.nodes; let i = index">
		<circle
			[attr.data-index]="i"
			[attr.cx]="getViewX(node)"
			[attr.cy]="getViewY(node)"
			[attr.r]="16"
			(mousedown)="mousedown_node($event)"
			(mouseup)="mouseup_node($event)"
			class="node"/>
		<text
			[attr.x]="getViewX(node)"
			[attr.y]="getViewY(node) + 24"
			class="label">{{node.id}}</text>
	</ng-container>
	<circle id="trash"
					cx="50vw" cy="90vh" r=64
					*ngIf="!linking&&draggy"
					(mouseup)="mouseup_trash($event)"
					>
	</circle>
</svg>