<style type="scss/text">
#sidebar {
  display: flex;
  flex-flow: column;
  flex: 0 0 200px;
  width:200px;
  height:100%;
  user-select: none;
  border-right:1px solid #000;
  font-family: monospace;
  color: #999;
}
h2 {
  color: #AAA;
}
.label {
  font-size:10px;
}
.panel {
  border-top:1px solid #666;
  border-bottom:1px solid #111;
}
.padded {
  padding: 2px 8px;
  padding-bottom: 8px;
}
.nav-button {
  display:block;
  text-decoration: none;
  color:#939393;
  transition: color 100ms, transform 100ms;
}
.nav-button:hover {
  color:#4CE;
}
.nav-button.pg.current {
  color:#CCC;
}
.nav-button.pg:hover:not(.current) {
  transform: translate(4px,0);
}
.panel.filler {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  color: #000A;
  text-shadow: 0 1px 0px #FFF2;
  font-weight: bold;
}
</style>

<div id="sidebar" class="dark-theme" >
  <div id="navi" class="panel padded">
    <h2>{{navi.currentBranch.toUpperCase()}}</h2>
    <div id="navi-branches">
      <a *ngFor="let b of navi.branches"
          class="nav-button branch"
          routerLink="{{navi.getUrl(b,null)}}"
          routerLinkActive="active">🌍 {{b}}</a>
    </div>
  </div>

  <div class="panel padded">
    <a *ngFor="let pg of navi.pages"
        class="nav-button pg"
        [class.current]="pg == navi.currentPage"
        routerLink="{{pg}}"
        routerLinkActive="active">⚜ {{pg}}</a>
  </div>

  <div>
    <div class="panel">
      <app-collapsable label="automodi" expanded="false">
        <automodi id="automodi" #automodi></automodi>
      </app-collapsable>
    </div>
  </div>
  <div class="panel">
    <app-collapsable label="jsonace" expanded="true" class="panel">
      <jsonace id="jsonace" #jsonace></jsonace>
    </app-collapsable>
  </div>
  <div class="panel filler">
    -cx
  </div>
</div>
