<div class="darkform">
  <div>
    <div class="item">LOCATION NODES</div>
    <div class="item">
      <div row>
        <div cell style="flex: 3">
          <label>search</label>
          <div><input type="text" [(ngModel)]="filterLocations"></div>
        </div>
      </div>
      <div>- ♯</div>
    </div>
  </div>

  <div class="divider" [class.active]="!!filterLocations"></div>

  <div class="items-list">
    <style type="scss/text">
      [row].item {
        width:100%;
        padding: 4px 8px !important;
      }
      [indent] {
        width:10px;
        background:#0002;
        border-right:1px solid #0008;
      }
      .cell-uid, .cell-slug {
        user-select: all;
      }
      .cell-uid {
        flex: 0 1 80px;
      }
      .cell-slug {
        flex: 1 1 120px;
      }
      .item:hover {
        color:#EEE;
      }

      .darkform .divider {
        height:2px;
        background: #2b334b;
        transition: background-color .250s;
        z-index: 1;
      }
      .darkform .divider.active {
        background: #00a2ff;
        box-shadow: 0 0 4px #00a2ff;
      }
    </style>

    <ng-container *ngFor="let loc of gamedata.data.world.nodes">
    <ng-container *ngIf="!filterLocations||loc.slug.includes(filterLocations)">
      <div row class="item">
        <div class="cell-uid">{{loc.uid}}</div>
        <div class="cell-slug">{{loc.slug}}</div>
      </div>
      <ng-container *ngFor="let sub of gamedata.data.world.subnodes">
      <ng-container *ngIf="sub.parent==loc.uid||sub.parent==loc.slug">
        <div row>
          <div indent></div>
          <div row class="item" style="flex:1 1">
            <div class="cell-uid">{{sub.uid}}</div>
            <div class="cell-slug">{{sub.slug}}</div>
          </div>
        </div>
      </ng-container>
      </ng-container>
    </ng-container>
    </ng-container>

  </div>
</div>
