<!-- <ng-container *ngIf="rootCause">
  <div class="item breadcrum" (click)="gobackto(0)"><p>►  {{rootCause}}</p></div>
</ng-container> -->

<ng-container *ngFor="let breadcrum of breadcrums.slice().reverse(); let i = index">
  <div class="item breadcrum" (click)="gobackto(i+1)">
    <p>{{breadcrum.node.text}}</p>
    <div space></div>
    <p>•  {{breadcrum.choice.handle}}</p>
  </div>
</ng-container>

<div class="items-list">

  <!-- LIST OF NODES -->
  <items-list [items]="data_nodes" [factory]="makeNode" [filter]="filterNode" [addItemLabel]="'add node'">
    <ng-template let-node="item">

        <div li class="item" [selectable]="node">
          <flex-row>
            <flex-column cell style="flex: 15 1 240px" *ngIf="node.text||selection.showDetails(node)">
              <label>text</label>
              <textarea autoresize class="field-text" [(ngModel)]="node.text"></textarea>
            </flex-column>
            <flex-column cell style="flex: 8 1 240px" *ngIf="node.code||selection.showDetails(node)">
              <label>code</label>
              <textarea autoresize class="field-code" [(ngModel)]="node.code"></textarea>
            </flex-column>
            <flex-column cell style="flex: 1 1 100px; display:flex; flex-flow:column;">
              <label>condition</label>
              <input type="text" class="field-condition" [(ngModel)]="node.condition" style="flex:1">
              <label>type</label>
              <input type="text" class="field-type" [(ngModel)]="node.type">
              <label>cause</label>
              <input type="text" class="field-cause" [(ngModel)]="node.cause">
            </flex-column>
          </flex-row>

          <div cell>
            <label>choices</label>
            <div class="notice" *ngIf="!node.choices?.length">
              <p>This node presents no further choices to make.</p>
              <p>Your sequence will end with this.</p>
            </div>
            <items-list [items]="node.choices" [factory]="makeChoice" [addItemLabel]="'add choice'">
              <ng-template let-choice="item" let-j="index">
                <flex-row li class="item inner">
                  <flex-row style="flex: 15 1 240px">
                    <div cell style="flex: 15 1 400px">
                      <label>handle</label>
                      <input type="text" class="field-handle" [(ngModel)]="choice.handle">
                    </div>
                    <flex-row style="flex: 1 1 280px" *ngIf="selection.showDetails(node)||choice.condition">
                      <div cell style="flex: 3 1 160px">
                        <label for="goto.text">condition</label>
                        <input type="text" class="input field-condition" [(ngModel)]="choice.condition">
                      </div>
                      <div cell style="flex: 1 1 80px" *ngIf="selection.showDetails(node)">
                        <label>next</label>
                        <input type="text" class="input field-convo" [(ngModel)]="choice.next">
                      </div>
                    </flex-row>
                  </flex-row>
                  <div cell style="flex:1 1 100px">
                    <button (click)="goto(node,choice)">go</button>
                  </div>
                </flex-row>
              </ng-template>
            </items-list>
          </div>
        </div>

    </ng-template>
  </items-list>

</div>
