<style type="scss/text">
#lesvg { height:99.5vh; width:100%; }
#trash { fill:rgba(255,0,0,.05); }
#trash:hover { fill:rgba(255,0,0,.25); stroke:rgba(255,0,0,.1); stroke-width:4 }
.node { stroke:rgba(100,200,250,0.5); stroke-width:4; fill:rgba(50,100,200,1.0) }
.node.mini { fill:rgba(100,150,200,1.0) }
.node.selected { fill:rgba(255,225,150,1.0) }
.link { stroke:rgba(100,200,250,0.5); stroke-width:4 }
.link.tobe { stroke:rgba(0,0,0,0.125); stroke-width:8 }
.link.selected { stroke:rgba(255,225,150,1.0) }
.label { font: bold 10px monospace, sans-serif; fill: #456; user-select: none;  }
.label.subnode { fill: #456; font-weight:100; }
.node:hover { opacity : .9 }
.link:hover { opacity : .7 }
</style>

<svg id="lesvg" #lesvg
			(mousedown)="mousedown($event)"
			(mouseup)="mouseup($event)"
			(mousemove)="mousemove($event)"
			(contextmenu)="contextmenu($event)">
	<ng-container *ngIf="linking">
		<line
			[attr.x1]="getViewX(linking)"
			[attr.y1]="getViewY(linking)"
			[attr.x2]="mouseX"
			[attr.y2]="mouseY"
			class="link tobe"/>
	</ng-container>

	<ng-container *ngFor="let link of w.links; let i = index">
		<line
			[attr.data-index]="i"
			[attr.x1]="getViewX(link.to)+5"
			[attr.y1]="getViewY(link.to)+random(i,5)"
			[attr.x2]="getViewX(link.from)-5"
			[attr.y2]="getViewY(link.from)-random(i,5)"
			(mouseup)="mouseup_link($event,i)"
			class="link"/>
	</ng-container>
	<ng-container *ngFor="let node of w.subnodes; let i = index">
		<line
			[attr.x1]="getViewX(node)"
			[attr.y1]="getViewY(node)"
			[attr.x2]="getViewX(node.parent)"
			[attr.y2]="getViewY(node.parent)"
			class="link"/>
	</ng-container>
	<ng-container *ngFor="let node of w.nodes; let i = index">
		<circle
			[class.selected]="selected==node"
			[attr.r]="16"
			[attr.cx]="getViewX(node)"
			[attr.cy]="getViewY(node)"
			(mousedown)="mousedown_node($event,node,false)"
			(mouseup)="mouseup_node($event,node,false)"
      (click)="selected=node"
			class="node"/>
		<text
			[attr.x]="getViewX(node)-14"
			[attr.y]="getViewY(node)+26"
			class="label">{{node.id}}</text>
	</ng-container>
	<ng-container *ngFor="let node of w.subnodes; let i = index">
		<circle
			[attr.data-index]="i"
			[class.selected]="selected==node"
			[attr.r]="8"
			[attr.cx]="getViewX(node)"
			[attr.cy]="getViewY(node)"
			(mousedown)="mousedown_node($event,node,true)"
			(mouseup)="mouseup_node($event,node,true)"
      (click)="selected=node"
			class="node subnode"/>
		<text
			[attr.x]="getViewX(node)-7"
			[attr.y]="getViewY(node)+18"
			class="label subnode">{{node.id}}</text>
	</ng-container>

	<circle id="trash"
					cx="10vh" cy="90vh" r=64
					*ngIf="!linking&&dragging"
					(mouseup)="mouseup_trash($event)"
					>
	</circle>
</svg>
