#full-page {
  display: flex;
  flex-direction: row;
  height:100vh;
  overflow:hidden;
}

.pane { overflow-y: scroll; min-height: 100%; }

*.breadcrum { cursor: pointer; transition: none; }
*.breadcrum:hover { color: #BBB }
