<div id="full-page" class="darkform" style="display: flex; flex-direction: row;">

  <div class="list" style="flex-grow: 618; border-right: 1px solid #111;">

    <div>
      <div class="item">GAMEDATA / JOURNAL / ACTIONS / GOTO -- (TEXT)</div>
      <div class="item">
        <div class="flex-row">
          <!-- <div class="cell" *ngFor="let field of filter | keyvalue">
            <div><label>{{field.key}}</label></div>
            <div title="{{field.key}}"><input type="text" class="input" [(ngModel)]="field.value"></div>
          </div> -->

          <div class="cell" style="flex-grow: 1">
            <div><label>from</label></div>
            <div><input type="text" class="input" [(ngModel)]="filter.from"></div>
          </div>
          <div class="cell" style="flex-grow: 1">
            <div><label>to</label></div>
            <div><input type="text" class="input" [(ngModel)]="filter.to"></div>
          </div>
          <div class="cell" style="flex-grow: 3">
            <div><label>search</label></div>
            <div><input type="text" class="input" [(ngModel)]="filter.search"></div>
          </div>
        </div>
        <div class="toolbar">
          <button type="button" (click)="add(0)">＋ add new</button>
        </div>
      </div>
    </div>

    <div class="divider" [class.active]="filter.from||filter.to||filter.search"></div>

    <div class="items-list" #thelist spellcheck="false">

      <ng-container *ngFor="let o of data; let i = index">
      <ng-container *ngIf="passesFilter(o)">
        <div class="item"
             [class.selected]="o===selection.selectedObject"
             [class.dirty]="isDirtyIndex(o)"
             (mousedown)="selection.selectObject(o)">

            <div class="flex-row">
              <div class="cell" style="flex-grow: 1">
                <div><label>from</label></div>
                <div><input type="text"
                            class="input field-from"
                            [class.dirty]="isDirty(o,'from')"
                            [(ngModel)]="o.from"></div>
              </div>
              <div class="cell" style="flex-grow: 1">
                <div><label>to</label></div>
                <div><input type="text"
                            class="input field-to"
                            [class.dirty]="isDirty(o,'to')"
                            [(ngModel)]="o.to"></div>
              </div>
              <div class="cell" style="flex-grow: 3">
                <div><label>condition</label></div>
                <div><input type="text"
                            class="input field-condition"
                            [class.dirty]="isDirty(o,'condition')"
                            [(ngModel)]="o.condition"></div>
              </div>
            </div>

            <div>
              <label for="goto.handle">handle</label>
              <input type="text"
                     class="input field-handle"
                     [class.dirty]="isDirty(o,'handle')"
                     [(ngModel)]="o.handle">
            </div>

            <div>
              <label for="goto.text">text</label>
              <div class="textarea-wrapper input"
                   [class.dirty]="isDirty(o,'text')">
                <textarea autosize
                          class="input field-text"
                          (click)="fixTextarea($event.target)"
                          [(ngModel)]="o.text"></textarea>
              </div>
            </div>

            <div class="toolbar">
              <button type="button" (click)="move(o,i,-1)">⬆ move up</button>
              <button type="button" (click)="move(o,i,1)">⬇ move down</button>
              <button type="button" (click)="cloneTo(o,i)">⬆ clone before</button>
              <button type="button" (click)="cloneTo(o,i+1)">⬇ clone after</button>
            </div>
            <div class="uid" [class.dirty]="isDirtyNew(o)">{{o.uid}}</div>

        </div>
      </ng-container>
      </ng-container>

      <div class="item final-item-plus" (click)="add(data.length)">＋</div>

    </div>

  </div>

  <!-- SPLIT -->

  <div class="list" style="flex-grow: 382; border-left: 1px solid #555;">

    <div>
      <div class="item">SNIPPETS</div>
      <div class="item">
        <div class="flex-row">
          <div class="cell" style="flex-grow: 3">
            <div><label>search</label></div>
            <div><input type="text" class="input" [(ngModel)]="filter.searchhhhhhhhh"></div>
          </div>
        </div>
        <div>- ♯</div>
      </div>
    </div>

    <div class="divider" [class.active]="filter.from||filter.to||filter.search"></div>

    <div class="items-list" #thelist spellcheck="false">
        <div class="item">...</div>
    </div>

    <div class="item" style="flex-grow:1"></div>

  </div>

</div>
