#full-page {
  display: flex;
  flex-direction: row;
  height:100vh;
  overflow:hidden;
}

.pane { overflow-y: scroll; min-height: 100%; }

.toolbar > button[clear] { margin-right:12px; }

[gutter] [gutter-toolbar] {
  justify-content: space-between !important;
}
