@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

/*::-webkit-scrollbar {display:none;}*/

html, body {
  min-height: 100vh;
  height: auto;
}

html, body, div, h1, pre, p {
  margin:0;
  padding:0;
}