@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

::-webkit-scrollbar {
    display:none;
}

body {
	height:100%;
}

body, div, h1, pre, p {
	margin:0;
	padding:0;
}